<html>
  <head>
    <title>EntraGo - Compras</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Suas Compras</h1>
      {{#each purchases}}
        <div class="purchase-card">
          <h3>{{this.Ticket.name}}</h3>
          <p>Quantidade: {{this.quantity}}</p>
          <p>Preço Unitário: R$ {{this.Ticket.price}}</p>
          <a href="/ticket/{{this.id}}">Detalhes</a>
        </div>
      {{else}}
        <p>Nenhuma compra realizada.</p>
      {{/each}}
    </div>
  </body>
</html>